.elements__button-delete {
  background: rgba(255, 255, 255, 0);
  border: 0;
  background-image: url("../../../images/delete-button.svg");
  box-sizing: border-box;
  min-width: 19.3px;
  min-height: 18px;
  /* background-size: 100%;*/
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 15px;
  top: 18px;
  transition: opacity 0.4s linear 0s;
}

.elements__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}