.popup__info_message {
  margin: 0 auto 60px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 364px;
  text-align: center;
}

@media screen and (max-width: 798px) {
  .popup__info_message {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
  }
}