.popup__info_image {
  max-width: 120px;
  margin-top: 60px;
  margin-bottom: 32px;
  align-self: center;
}

@media screen and (max-width: 798px) {
  .popup__info_image {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}